.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 /*mobile*/
 @media screen and (max-width: 768px) {
  .webview {
  display: none;
  }
  }
   
  /*website*/
  @media screen and (min-width: 1024px) {
  .mobview {
  display: none;
  font-size: "14px";
  }
  .card-heading {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.14;
    /* letter-spacing: .2px; */
    color: #251454;
    margin: 5px 0 4px;
  }
}
  
  