.App {
  text-align: center;

  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Container { /* You Can Name it what you want*/
  margin-right:16px;
  }
  .Container input:last-child{
  margin-right:0px;
  /*so the last one dont push the div thas giving the space only between the inputs*/
  }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 /*mobile*/
 @media screen and (max-width: 768px) {
  .webview {
  display: none;
 
  }
  }
  .carousel-item{
    padding-left: 60px;

  } 
  
  /*website*/
  @media screen and (min-width: 1024px) {
  .mobview {
  display: none;
  font-size: "14px";
  overflow-x:hidden;
  }
  .no-outline:focus {
    outline: none;
    }
    .innerbox{
      height: 32px;
    background-color: #03A685;
    color: white;
    text-align: center;
    padding: 7px 0;
    font-size: 14px;
    font-weight: 500;
    
    box-sizing: border-box;
    }
    .wishlist{
      max-width: 880px;
      margin: 130px auto 70px auto;
    text-align: center;
    
    
    }

}
  
  